<h1 class="text-center">What Is React ?</h1>
<p>React, also known as React.js or ReactJS, is an open-source JavaScript library for building user interfaces.Developed
    at Facebook and released to the world in 2013, it drives some of the most widely used apps, powering Facebook and
    Instagram among countless other applications. Its primary goal is to make it easy to reason about an interface and
    its state at any point in time, by dividing the UI into a collection of components.</p>
<p>Even though React is simpler than alternative frameworks, diving into React is still complicated, but mostly because
    of the corollary technologies that can be integrated with React, like Redux and GraphQL.

</p>

<p>React in itself has a very small API, and you basically need to understand 4 concepts to get started:

    <li>Components


    </li>
    <li>JSX</li>
    <li>State</li>
    <li>Props</li>
    All these (and more) are explained in this documentation.
</p>

<p>
    React is widely used in modern web development to create dynamic and interactive web applications, single-page
    applications (SPAs), and progressive web apps (PWAs). It has a strong and active community, regular updates, and
    extensive documentation, making it a powerful choice for front-end development.
</p>